---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Discografia from '../components/Discografia.astro';
import Videos from '../components/Videos.astro';
import Bando from '../components/Bando.astro';
import Agenda from '../components/Agenda.astro';
import OBando from '../components/OBando.astro';
import Arquivo from '../components/Arquivo.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <Hero />
  <Discografia />
  <div style="width:100%; height:380px; overflow:hidden;">
    <img src="/photo-03.jpg" alt="Criatura ao vivo" style="width:100%; height:100%; object-fit:cover; object-position:center 30%; filter:brightness(0.75);" loading="lazy">
  </div>
  <Agenda />
  <Videos />
  <Bando />
  <OBando />
  <Arquivo />
  <Contacto />
  <Footer />
</Layout>
